<<<<<<< HEAD
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Your Thoughts, Embark Your Story - Impromptu</title>
    <link rel="stylesheet" href="../Static/CSS/classes.css">
    <link rel="stylesheet" href="../Static/CSS/Index/indexPage.css">
    <link rel="stylesheet" href="../Static/CSS/Index/mediaResponses.css">
</head>
<body>
    <div class="nav-main-left primary-flex height-full-screen primary-font">
        <div class="primary-flex flex-column float-16 height-full-relative border-right border-round-sys3 border-right-fade background-main" id="left-nav">
            <div class="primary-flex align-center padding-main img-div height-10-r" id="nav-top">
                <img class="slide-logo-img" src="../Static/Static Images/Impromptu_Logo.png" alt="" id="nav-left-img">
            </div>
            <div class="primary-flex height-80-r justify-flex-start padding-main">
                <ul class="list-no-style padding-main font-inherit">
                    <a class="link-no-color" href=""><li class="primary-flex margin-bottom width-full-relative padding-list-element list-font-size align-center pointer border-round-sys10 list-nav"><ion-icon class="margin-right" name="home-outline"></ion-icon>Home</li></a>
                    <a class="link-no-color" href=""><li class="primary-flex margin-bottom width-full-relative padding-list-element list-font-size align-center pointer border-round-sys10 list-nav"><ion-icon class="margin-right" name="search"></ion-icon>Search</li></a>
                    <a class="link-no-color" href=""><li class="primary-flex margin-bottom width-full-relative padding-list-element list-font-size align-center pointer border-round-sys10 list-nav"><ion-icon class="margin-right" name="chatbubbles-outline"></ion-icon>Message</li></a>
                    <a class="link-no-color" href=""><li class="primary-flex margin-bottom width-full-relative padding-list-element list-font-size align-center pointer border-round-sys10 list-nav"><ion-icon class="margin-right" name="notifications-outline"></ion-icon>Notification</li></a>
                    <a class="link-no-color" href=""><li class="primary-flex margin-bottom width-full-relative padding-list-element list-font-size align-center pointer border-round-sys10 list-nav"><ion-icon class="margin-right" name="add-circle-outline"></ion-icon>Create</li></a>
                    <a class="link-no-color" href=""><li class="primary-flex margin-bottom width-full-relative padding-list-element list-font-size align-center pointer border-round-sys10 list-nav"><ion-icon class="margin-right" name="skull-outline"></ion-icon>Profile</li></a>
                    <a class="link-no-color" href=""><li class="primary-flex margin-bottom width-full-relative padding-list-element list-font-size align-center pointer border-round-sys10 list-nav"><ion-icon class="margin-right" name="repeat-outline"></ion-icon>Report a Problem</li></a>
                    <a class="link-no-color" href=""><li class="primary-flex margin-bottom width-full-relative padding-list-element list-font-size align-center pointer border-round-sys10 list-nav"><ion-icon class="margin-right" name="contrast-outline"></ion-icon>Dark Mode</li></a>
                </ul>
            </div>
            <div class="primary-flex align-center padding-main height-10-r justify-center">
                <span class="font-inherit primary-flex width-full-relative padding-list-element list-font-size align-center pointer border-round-sys10 list-nav"><ion-icon class="margin-right"  name="menu-outline"></ion-icon>More</span>
            </div>
        </div>
        <div class="float-68 height-full-relative"></div>
        <div class="float-16 height-full-relative"></div>
    </div>
</body>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="../Static/JS/Index/reponsivness.js"></script>
</html>
>>>>>>> 415bc6c302302af475491983ea38a13d55eaad4a
