<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Your Thoughts, Embark Your Story - Impromptu</title>
    <link rel="stylesheet" href="../Static/CSS/classes.css">
    <link rel="stylesheet" href="../Static/CSS/LoginPage/loginPage.css">
    <link rel="stylesheet" href="../Static/CSS/LoginPage/mediaResponse.css">
</head>
<body>
    <div class="navbar primary-flex primary-font font-size-nav-main padding-main">
        <div class="float-50">
            <a href="" class="link-no-color margin-sideways-primary"><img src="../Static/Static Images/Impromptu_Logo.png" alt="" class="nav-logo-img"></a>
        </div>
        <div class="meet-the-team float-50 primary-flex justify-end align-center">
            <a href="" class="link-no-color"><p class="primary-font size-nav-btn margin-sideways-primary">Meet The Team</p></a>
        </div>
    </div>
    <div class="main primary-flex align-center">
        <div class="impromptu-concept float-50 primary-flex justify-end">
            <img class="impromptu-concept-img margin-extra margin-right-extra" src="../Static/Static Images/Impromptu_Concept.png" alt="">
        </div>
        <div class="form-div primary-grid align-center primary-font">
            <div class="form">
                <div class="primary-flex justify-center">
                    <img class="image-logo" src="../Static/Static Images/Impromptu_Logo.png" alt="">
                </div>
                <form action="" method="post" class="form-main">
                    <input class="form-input" name="UserName" type="text" placeholder="Username, Phone Number or Email">
                    <input class="form-input" name="Password" type="password" placeholder="Password">
                    <button class="submit" type="submit">Log In</button>
                </form>
                <a class="link-blue link-no-decoration font-inherit primary-flex justify-center" href="">Forgot Password?</a>
                <div class="primary-flex justify-center align-center margin-top ionicon-logo-size margin-bottom">
                    <ion-icon class="color-google" name="logo-google"></ion-icon>
                    <p class="margin-sideways-primary">Log In With <b>Google</b></p>
                </div>
            </div>
            <div class="new-acc primary-flex justify-center align-center">
                <p style="margin-right: 5px;">Don't have an Account?</p>
                <a href="" class="link-blue link-no-decoration"><b>Sign Up</b></a>
            </div>
        </div>
    </div>
</body>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>