<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Drive</title>
  <link rel="stylesheet" href="../Static/CSS/SignupPage/signupPage.css">
  <link rel="stylesheet" href="../Static/CSS/classes.css">
  <link rel="stylesheet" href="../Static/CSS/LoginPage/loginPage.css">
  <link rel="stylesheet" href="../Static/CSS/SignupPage/mediaResponses.css">
</head>
<body>
  <div class="navbar primary-flex primary-font font-size-nav-main padding-main">
    <div class="float-50">
        <a href="" class="link-no-color margin-sideways-primary"><img src="../Static/Static Images/Impromptu_Logo.png" alt="" class="nav-logo-img"></a>
    </div>
    <div class="meet-the-team float-50 primary-flex justify-end align-center">
        <a href="" class="link-no-color"><p class="primary-font size-nav-btn margin-sideways-primary">Meet The Team</p></a>
    </div>
</div>
  <div class="primary-grid justify-center width-full-screen align-center">
    <div class="form">
      <div class="primary-flex justify-center">
        <img class="image-logo" src="https://github.com/Suyash-16/sudoko-PE-2/blob/main/Static/Static%20Images/Impromptu_Logo.png?raw=true"alt="">
      </div>
      <div class="primary-grid justify-center align-center">
        <p class="primary-flex justify-center font-inherit primary-font">Sign up to see photos and videos </p>
        <p class="primary-flex justify-center  primary-font">from your friends.</p>
      </div>
      <div class="primary-flex justify-center align-center margin-top ionicon-logo-size margin-bottom">
        <ion-icon class="color-google" name="logo-google"></ion-icon>
        <p class="margin-sideways-primary">Log In With <b>Google</b></p>
      </div>
      <div class="input">
        <form action="" method="post" class="primary-grid justify-center">
          <input type="text" class="mobemail" placeholder="Mobile Number or Email">
          <input type="text" class="mobemail" placeholder="Full Name">
          <input type="text" class="mobemail" placeholder="Username">
          <input type="password" class="mobemail" placeholder="Password">
        </form>
      </div>
      <div class="txt primary-font">
        <p class="primary-flex justify-center font-inherit">
          By signing up, you agree to our <a class="link-no-decoration" href="">&nbsp;Terms</a> ,
          <a class="link-no-decoration" href="">Privacy</a>
        </p>
        <p class="primary-flex justify-center font-inherit">
          <a class="link-no-decoration font-inherit primary-font" href="">Policy&nbsp;</a> and&nbsp;<a class="link-no-decoration font-inherit primary-font"
            href="">Cookies Policy</a> .
        </p>
      </div>
      <div class="primary-flex justify-center">
        <button class="submit font-inherit primary-font"><b>Sign Up</b></button>
      </div>
    </div>
    <div class="new-acc primary-flex justify-center align-center">
      <p style="margin-right: 5px;">Already have an Account?</p>
      <a href="/" class="link-blue link-no-decoration"><b>Log In</b></a>
  </div>
  </div>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>