@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* Widths and Heights */
.width-full-relative{
    width: 100%;
}
.width-full-screen{
    width: 100vw;
}
.height-full-relative{
    height: 100%;
}
.height-quarter-relative{
    height: 25%;
}
.height-half-relative{
    height: 50%;
}
.height-10-r{
    height: 10%;
}
.height-80-r{
    height: 80%;
}
.height-full-screen{
    height: 100vh;
}
/* Margins and Padding */
.padding-main{
    padding: 16px 12px;
}
.margin-top{
    margin-top: 20px;
}
.margin-bottom{
    margin-bottom: 24px;
}
.padding-btn{
    padding: 5px 8px;
}
.padding-list-element{
    padding: 8px;
}
.margin-main{
    margin: 20px;
}
.margin-extra{
    margin: 40px;
}
.margin-sideways-primary{
    margin: 0px 12px;
}
.margin-right{
    margin-right: 20px;
}
.margin-right-extra{
    margin-right: 35px;
}
/* Lists */
.list-no-style{
    list-style: none;
}
.list-font-size{
    font-size: 18px;
}
/* Display Styling */
.contents-only{
    display: contents;
}
.primary-flex{
    display: flex;
}
.primary-grid{
    display: grid;
}
.primary-table{
    display: inline-table;
}
/* Flex Styling */
.flex-column{
    flex-direction: column;
}
/* Font Styling */
.font-inherit{
    font-family: inherit;
}
.primary-font{
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.link-no-color{
    color: black;
    text-decoration: none;
}
.link-blue{
    color: rgba(48, 48, 188, 0.833);
}
.link-no-decoration{
    text-decoration: none;
}
.font-size-nav-main{
    font-size: 2rem;
}
.size-nav-btn{
    font-size: 1rem;
}
.ionicon-logo-size{
    font-size: larger;
}
/* Border Styling and Backgrounds*/
.border-none{
    border: none;
}
.border-right{
    border-right: 0.5px solid rgba(39, 37, 37, 0.79);
}
.border-right-fade{
    border-right-color: rgb(219, 219, 219);
}
.border-round-sys3{
    border-radius: 3px;
}
.border-round-sys10{
    border-radius: 10px;
}
.background-main{
    background-color: rgb(255,255,255);
}
/* Allignment and Orientation */
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: end;
}
.justify-flex-start{
    justify-content: flex-start;
}
.align-center{
    align-items: center;
}
/* Positions */
.float-25{
    float: left;
    width: 25%;
}
.float-16{
    float: left;
    width: 16%;
}
.float-68{
    float: left;
    width: 68%;
}
.float-50{
    float: left;
    width: 50%;
}
/* Cursor */
.pointer{
    cursor: pointer;
}
/* Buttons */
.btn-primary{
    border: 0.8px solid rgba(27, 26, 26, 0.673);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0.3px 1px 0.2px 0.3px;
    background-color: rgba(255, 255, 255, 0.26);
}